{% extends "base.twig" %}
{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Задание номер 5</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/user/index">Профиль</a></li>
                <li><a href="/user/files">Файлы пользователя</a></li>
                <li><a href="/user/allusers">Все пользователи</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1>Все пользователи</h1>
    <table class="table table-striped">
        <tr><th>ID</th><th>Имя</th><th>Возраст</th><th>Совершеннолетие</th><th>Инфо</th><th>Аватар</th></tr>
        {% for user in users %}
            <tr><td>{{ user.id }}</td><td>{{ user.name }}</td><td>{{ user.age }}</td><td>{{ user.adult }}</td><td>{{ user.about }}</td><td><img class="image-small" src="/images/{{ user.avatar }}"></td></tr>
        {% endfor %}
    </table>
{% endblock %}
