{% extends "base.twig" %}
{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Задание номер 5</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/user/index">Профиль</a></li>
                <li><a href="/user/files">Файлы пользователя</a></li>
                <li><a href="/user/allusers">Все пользователи</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
<h1>Профиль</h1>
<div class="col-xs-6">
    <img class="image-avatar" src="/images/{{ user['avatar'] }}">
</div>
<div class="col-xs-6">
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <p><label for="name">Имя</label>
                <input type="text" name="name" id="name" value="{{ user['name'] }}"></p>
            <p><label for="age">Возраст</label>
                <input type="number" name="age" id="age" value="{{ user['age'] }}"></p>
            <p><label for="about">О себе</label>
                <textarea rows="3" name="about" id="about">{{ user['about'] }}</textarea></p>
            <p><label for="picture">Фотография</label>
                <input type="file" name="picture" id="picture" value="{{ user['avatar'] }}"></p>
            <p><input type="submit" name="update" value="Сохранить профиль"></p>
            <input type="hidden" name="form_action" value="update">
        </fieldset>
    </form>
    <form method="post">
        <input type="submit" name="logout" value="Выход">
        <input type="hidden" name="form_action" value="logout">
    </form>
</div>
{% endblock %}
